<!-- // Renderujemy liste osob za pomoca *ngFor - jako tabele
// Renderujemy przedrostek Mr lub Mrs za pomoca ngSwitch
//* Kolorujemy wiersze osób powyzej 18 lat na czerwono - najlepiej za pomoca metody
//** Przemyslec lub spróbowac zaimplementowac mechanizm wyszukiwania po kolumnie np 'name'
 -->

<div>
  <span>Search: <input [(ngModel)]="searchValue" /> </span>
</div>

<table>
  <thead>
    <th>Nr</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Gender</th>
    <th>Street</th>
    <th>Number</th>
    <th>City</th>
    <th>Phone number</th>
    <th>Email</th>
    <th>Date of birth</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of data; index as i">
      <tr *ngIf="renderTest(user)" [ngClass]="{adult: isAdult(user.dateOfBirth)}">
        <td>
          {{i +1}}
        </td>
        <td >
          <ng-container [ngSwitch]="+user.gender">
            <ng-container *ngSwitchCase="genderEnum.Male">Mr</ng-container>
            <ng-container *ngSwitchCase="genderEnum.Female">Mrs</ng-container>
          </ng-container>
          {{user.name}}
        </td>
        <td>{{user.surname}}</td>
        <td>
          <ng-container [ngSwitch]="+user.gender">
            <ng-container *ngSwitchCase="genderEnum.Male">Male</ng-container>
            <ng-container *ngSwitchCase="genderEnum.Female">Female</ng-container>
            <ng-container *ngSwitchCase="genderEnum.Other">Other</ng-container>
            <ng-container *ngSwitchDefault>Invalid data!</ng-container>
          </ng-container>
        </td>
        <td>{{user.street}}</td>
        <td>{{user.number}}</td>
        <td>{{user.city}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.email}}</td>
        <td>{{user.dateOfBirth}}</td>
        <td><button>Delete</button></td>
      </tr>
    </ng-container>
  </tbody>
</table>
